.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flext-start;
}

.grid {
    width: 98vw;
    height: 98vw;
    display: flex;
    flex-direction: column;
}

.grid-row {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.square {
    width: 23vw;
    height: 23vw;
    background-color: rgb(230, 230, 230);
    border-radius: 3vw;
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
}

.square-selected {
    background-color: rgb(185, 185, 185);
}

.square-wiggle {
    animation-name: wiggle;
    animation-duration: 0.6s;
}

@keyframes wiggle {
    30% { transform: translate(0vw, 0vw) }
    55% { transform: translate(1vw, 0vw) }
    70% { transform: translate(-1vw, 0vw) }
    85% { transform: translate(1vw, 0vw) }
    100% { transform: translate(0vw, 0vw) }
}

.finished-row {
    width: 96vw;
    height: 23vw;
    border-radius: 3vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
}

.finished-row-labels {
    font-weight: 300;
}

.finished-green {
    background-color: rgb(43, 201, 43);
}
.finished-yellow {
    background-color: rgb(224, 224, 53);
}
.finished-purple {
    background-color: rgb(167, 94, 167);
}
.finished-blue {
    background-color: rgb(111, 173, 231);
}

.game-controls-bar {
    width: 100vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
}

.game-control-button {
    height: 10vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3vw;
    padding-left: 3vw;
    border-radius: 5vw;
}

.guesses-bar {
    width: 100vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.guess {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 1.75vw;
    background-color: rgb(120, 120, 120);
    margin-left: 2vw;
}

.ghost-guess {
    background-color: rgb(255, 255, 255);
}