.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flext-start;
}

.grid {
    width: 98vw;
    height: 98vw;
    display: flex;
    flex-direction: column;
}

.grid-row {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.square {
    width: 23vw;
    height: 23vw;
    background-color: rgb(230, 230, 230);
    border-radius: 3vw;
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 12px -8px rgb(136, 136, 136);
}

.square-selected {
    background-color: rgb(150, 150, 150);
    color: white;
}

.square-wiggle {
    animation-name: wiggle;
    animation-duration: 0.6s;
}

@keyframes wiggle {
    30% { transform: translate(0vw, 0vw) }
    55% { transform: translate(1vw, 0vw) }
    70% { transform: translate(-1vw, 0vw) }
    85% { transform: translate(1vw, 0vw) }
    100% { transform: translate(0vw, 0vw) }
}

.finished-row {
    width: 96vw;
    height: 23vw;
    border-radius: 3vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
}

.finished-row-labels {
    font-weight: 300;
}

.finished-green {
    background-color: rgb(43, 201, 43);
    box-shadow: 2px 2px 12px -6px rgb(43, 201, 43);
}
.finished-yellow {
    background-color: rgb(224, 224, 53);
    box-shadow: 2px 2px 12px -6px rgb(224, 224, 53);
}
.finished-purple {
    background-color: rgb(167, 94, 167);
    box-shadow: 2px 2px 12px -6px rgb(167, 94, 167);
}
.finished-blue {
    background-color: rgb(111, 173, 231);
    box-shadow: 2px 2px 12px -6px rgb(111, 173, 231);
}

.game-controls-bar {
    width: 100vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
}

.game-control-button {
    height: 10vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3vw;
    padding-left: 3vw;
    border-radius: 5vw;
    box-shadow: 0px 0px 12px 0px rgb(177, 177, 177);
}

.button-inactive {
    opacity: 0.3;
    box-shadow: none;
}

.guesses-bar {
    width: 100vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.guess {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 1.75vw;
    background-color: rgb(120, 120, 120);
    margin-left: 2vw;
}

.ghost-guess {
    background-color: rgb(255, 255, 255);
}

.game-alert-box {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game-alert {
    height: 10vw;
    /* width: 30vw; */
    background-color: black;
    color: white;
    font-weight: 700;
    padding-right: 3vw;
    padding-left: 3vw;
    border-radius: 5vw;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 12px 1px rgb(177, 177, 177);
}

.model-curtain {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
}

.model {
    position: fixed;
    left: 50%;
    top: 10%;
    width: 80%;
    padding: 2vw;
    transform: translate(-50%, 0%);
    border: 1px solid black;
    background-color: white;
    border-radius: 5vw;
    box-shadow: 0px 0px 12px 0px rgb(177, 177, 177);
    z-index: 2;
}

.wide-model {
    top: 1%;
    width: 94%;
}

.modal-buttons-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
}

.model-button {
    width: 40vw;
    margin-bottom: 2vw;
}

.title-block {
    width: 100%;
    height: 18vw;
    border-bottom: 1vw solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
}

.rater-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rating-star {
    font-size: 10vw;
}

.create {
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}

.create-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gray-section {
    background-color: rgb(200, 200, 200);
}
.green-section {
    background-color: rgb(43, 201, 43);
}
.yellow-section {
    background-color: rgb(224, 224, 53);
}
.blue-section {
    background-color: rgb(111, 173, 231);
}
.purple-section {
    background-color: rgb(167, 94, 167);
}

.create-input {
    height: 8vw;
    width: 90vw;
    font-size: 5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}